---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>About Brad Deibert</title>
  </head>
  <body>
    <h1>About Me</h1>
    <h2>I am:</h2>
    <ul>
      <li>Originally from northwest Montana near Glacier National Park.</li>
      <li>Married to Alicia since August 2020.</li>
    </ul>
    <h2>I enjoy:</h2>
    <ul>
      <li>Lifting weights and staying active.</li>
      <li>Getting outdoors - biking, fishing, golfing.</li>
      <li>Podcasts and books when I can find the time.</li>
    </ul>
  </body>
</html>
