---
import Profile from '../components/Profile.tsx';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Brad Deibert</title>
  </head>
  <body>
    <Profile />
    <nav>
      <a href="/about">About</a> |
      <a href="/skills">Skillset</a>
    </nav>
  </body>
</html>
