---
import { h } from 'preact';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro Preact Starter</title>
  </head>
  <body>
    <h1>Hello from Astro + Preact!</h1>
  </body>
</html>
