---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Skillset</title>
  </head>
  <body>
    <h1>Skillset</h1>
    <h2>Technical skills:</h2>
    <ul>
      <li>React & Redux</li>
      <li>HTML, CSS, JavaScript</li>
      <li>Other tools - git and command line</li>
    </ul>
    <p>I'm also familiar with:</p>
    <ul>
      <li>Python APIs like Flask and Django</li>
      <li>Java - my first programming language</li>
    </ul>
    <h2>Non-technical skills:</h2>
    <ul>
      <li>Comfortable working in fast-paced environments</li>
      <li>Thrive in collaborative teams</li>
      <li>Eager to learn and grow</li>
    </ul>
  </body>
</html>
